body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8cdcd;
}
#about{
    margin:10px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

section {
    padding: 50px 0;
}

#hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.skills span {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    margin: 0 5px;
}

#portfolio .project {
    cursor: pointer;
    transition: transform 0.3s;
}

#portfolio .project:hover {
    transform: scale(1.1);
}

#projectDetailsOverlay, #projectDetails {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#projectDetailsOverlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

#projectDetails {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#projectDetails img {
    width: 100%;
    max-height: 400px;
    margin-bottom: 10px;
}

#projectDetails h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#contactForm {
    display: grid;
    grid-gap: 20px;
}

#contactForm label {
    font-size: 18px;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

#contactForm button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

/* Responsive Styles */

@media only screen and (max-width: 600px) {
    #hero {
        padding: 80px 0;
    }

    #hero h2 {
        font-size: 32px;
    }

    .skills span {
        padding: 6px 12px;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav.active ul {
        display: flex;
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }

    nav a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1024px) {
    #portfolio .project {
        width: 100%;
    }
}
